/*************************************************************************
 * kconfig.h -- This file is part of OS/0.                               *
 * Copyright (C) 2021 XNSC                                               *
 *                                                                       *
 * OS/0 is free software: you can redistribute it and/or modify          *
 * it under the terms of the GNU General Public License as published by  *
 * the Free Software Foundation, either version 3 of the License, or     *
 * (at your option) any later version.                                   *
 *                                                                       *
 * OS/0 is distributed in the hope that it will be useful,               *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of        *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the          *
 * GNU General Public License for more details.                          *
 *                                                                       *
 * You should have received a copy of the GNU General Public License     *
 * along with OS/0. If not, see <https://www.gnu.org/licenses/>.         *
 *************************************************************************/

#ifndef _KCONFIG_H
#define _KCONFIG_H

#define VERSION @VERSION@

#mesondefine ARCH_I386

#ifdef ARCH_I386
#mesondefine INVLPG_SUPPORT
#else
#define INVLPG_SUPPORT 1
#endif

#mesondefine PROCESS_LIMIT
#mesondefine PROCESS_FILE_LIMIT
#mesondefine PROCESS_SYS_FILE_LIMIT
#mesondefine PROCESS_MMAP_LIMIT

#endif
